* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

html, body {
  height: 100%;
  width: 100%;
}
html{
  background-color: #212121;

}
.note{
  background-color: #494949;
  color: white;
  max-width: 20rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.notes{
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
}